.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(199, 187, 187);
    align-items: center;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 20px;

}

.left-side-nav {
    font-size: 25px;
    font-weight: 450;
    color: #5f6368;
    font-family: "Product Sans", Arial, Helvetica, sans-serif;
}

.classroom-logo {
    display: flex;
    align-items: center;
    gap: 5px
}

.google-logo {
    width: 100px;
    height: 30px;
}

.left-side-nav svg {
    cursor: pointer;

}

.class-info-btn {
    font-size: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.profile-pic {
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 497px) {
    .right-side-nav .profile-pic {
        display: none;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

.card {
    position: relative;
    width: 20rem;
    height: 18.75rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.top-side-card {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 120px;
    border-radius: 20px 20px 0 0;
    padding: 10px;

}

.card-title {
    color: white;
    font-size: 40px;
}

.card-section {
    color: white;
}

.card img {
    position: absolute;
    right: 10px;
    top: 80px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.description {
    margin: 20px;
    font-size: 20px;
}

.side-bar {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    height: 100%;
    width: 20rem;
    border-right: 1px solid rgb(199, 187, 187);
    
}

.side-bar.show {
    display: block;

}

.user-side-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

@media (min-width:497px) {
    .user-side-bar {
        display: none;
    }
}

.classes-list {
    letter-spacing: .01785714em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: #3c4043;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(199, 187, 187);
}

.classes-list .class {
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
}

.sidebar-class-image {
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.join-create-list {
    display: none;
    gap: 20px;
    flex-direction: column;
    position: absolute;
    right: 100px;
    top: 50px;
    padding: 20px;
    border: 1px solid black;
    z-index: 1;
    background-color: #fcfcfc;
}

.join-create-list.show {
    display: flex;
}

.join-create-list div {
    cursor: pointer;
}

.create-class-model {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fcfcfc;
    padding: 70px;
    border: 1px solid black;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    height: 70px;
    padding: 10px;

}

.input {
    border: none;
    border-bottom: 1px solid black;
    height: 40px;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #0abade;
}

.label {
    opacity: 0;
    visibility: hidden;
    top: 8px;
    left: 12px;
    font-size: 10px;
    color: #939191;
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.label.active {
    opacity: 1;
    visibility: visible;
}

.btns {
    display: flex;
    justify-content: flex-end;
    gap: 20px
}

.btns div {
    cursor: pointer;
}

.create-class-model.show {
    display: flex;
}

.join-class-model {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fcfcfc;
    padding: 40px;
    border: 1px solid black;
    display: none;
    z-index: 1;
    flex-direction: column;
    font-size: 20px;
}

.join-class-model.show {
    display: flex;
}

#course {
    height: 50px;
    width: 150px;
    margin-bottom: 40px;
}

#course option {
    font-size: 20px;
}

.user-info-list {
    display: none;
    gap: 20px;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 60px;
    padding: 20px;
    border: 1px solid black;
    z-index: 1;
    background-color: #fcfcfc;
}

.user-info-list.show {
    display: flex;
}

.user-info-list div {
    cursor: pointer;
}

.user-basic-info {
    display: flex;
    gap: 20px;
    padding: 10px;
    font-size: 20px;
    align-items: center;
}