* {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}

body{
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 22px;
    color: #7e8186;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 64px;
    border-style: none none solid none;
    border-color: #616368;
    
    padding-left: 20px;
}

.nav-1 {
    display: flex;
    align-items: center; 
    margin-right: 16px; 
}

.x-mark {
    fill: #888b8e;
    
}

.nav-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.nav-2-wrap{
    display:flex;
}

.notes {
    fill: #888b8e;
    display: flex;
    justify-content: center;
}

.assignment {
    font-size: 30px;
    padding: 4px 12px;
    color: #616368;
}

.nav-3 {
    margin-left: 16px; 
    display: flex;
    gap: 1px;

}

.btn {
    height: 32px;
    width: 96px;
    border: none;
    color: #fff;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400px;
    border-radius: 4px 0px 0px 4px;
    background-color: #1967d2;
    cursor: pointer;
}

.arrow {
    width: 20px;
    border-radius: 0px 4px 4px 0px;
    background-color: #1967d2;
    margin-right: 20px;
    cursor: pointer;
}


.body-wrapper{
    display: flex;
    flex: 1;
    background-color: white;
    gap: 20px;
}

.body-wrapper-left {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    gap: 40px;
    padding: 24px 100px;
    flex: 1;
    background-color: #ededed;
}

.assignment-wrapper{
    padding: 24px 24px 8px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 20px;
    border-radius: 10px;

}


#title{
    height: 50px;
    border: none;
    outline: none;
    width: 100%;
    background-color: #ededed;
}

#instruction{
    height: 150px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #ededed;
    
}

.labels{
    border-bottom: 1px solid #5f6368;
}

.attach{
    padding: 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 900px;
}

.icon-container{
    display: flex;
    justify-content: center;
    gap: 40px;

}

.circle-border{
    border-radius: 100%;
    border: #ebedef 1px solid;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 38px;
    width: 38px;
}

.body-wrapper-right{
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.info{
    display: flex;
    gap: 20px;
}

.option{
    display: flex;
    
}

.grey{
    color: black;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-text{
    text-align: center;
}

ul{
    list-style-type: none;
}

.hide{
    display: none;
}