* {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}

body{
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 22px;
    color: #7e8186;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 64px;
    border-style: none none solid none;
    border-color: #616368;
    padding-left: 20px;
}

.nav-1 {
    display: flex;
    align-items: center; 
    margin-right: 16px; 
}

.nav-1-wrap{
    display: flex;
    flex-direction: column;
}

.hamburger{
    fill: #7e8186;
    padding:0px 24px 0px 0px;
}

.class-name{
    font-size: 1.5rem;
    font-weight: 500;
    
}

.section-name{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1rem;
}

.nav-2 {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 100%;
}

.nav-2-wrap{
    display:flex;
}

.navigation{
    padding: 0px 24px;
    cursor: pointer;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav-2-wrap :hover{
    background-color:#d3d3d3
}

.nav-3 {
    margin-left: 16px; 
    display: flex;
    gap: 1px;

}

.nav-3-wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.circle-border{
    border-radius: 100%;
    border: #ebedef 1px solid;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classwork-container{
    align-self: center;
    max-height: 98vh;
    height: 100%;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-wrap{
    display: flex;
    justify-content: space-between;
}

.btn{
    fill: white;
    background-color: #202124;
    border-radius: 20px;
    padding: 10px  20px;
    display: flex;
    align-items: center;
    color: white;
    scale: 1.25;
    font-weight: 900px;
    cursor: pointer;
    
}

.svg-wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.svgs{
    cursor: pointer;
}

.svgs :hover{
    background-color: #ebedef;
}
