.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(199, 187, 187);
    align-items: center;
}
.nav-items{
    display: flex;
    align-items: center;
    gap: 20px;

}

.right-side-nav{
    font-size: 25px;
    font-weight: 450;
    color: #5f6368;
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
}
.classroom-logo{
    display: flex;
    align-items: center;
    gap:5px
}

.google-logo{
    width: 100px;
    height: 30px;
}

.right-side-nav svg{
    cursor: pointer;

}

.left-side-nav{
    font-size: 40px;

}

.left-side-nav img{
    width: 40px;
    height:40px ;
    border-radius: 50%;
}